.jumbotron {
    text-align: center;
    height: 275px;
    font-family: 'Comfortaa', cursive; 
    background: url("http://i.imgur.com/5ahTckK.jpg?1");
    color: rgb(226, 199, 173);
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 50px;
}

#main-content {
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 50%;
    position: relative;
    left: 25%;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
    color: black;
}

body {
    background: rgb(218, 191, 167);
}

#lead {
    font-size: 20px;
}